:root {

}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


#header> div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 0;
 display: flex;
}

nav ul li {
padding: 1.125em;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color:black;
}

nav ul li a:hover,
nav ul li a:focus {
    color:grey;
}


.grid-intro {
  display: grid;
  grid-template-areas: 
    "image1 image1 image1"
    "image2 image3 image4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding:4em 0 2em;
  border-top: 3px;
  margin: 0 1em;

}

#image-1 {
  grid-area: image1;
}

#image-2 {
  grid-area: image2;
}

#image-3 {
  grid-area: image3;
}

#image-4 {
  grid-area: image4;
}



#story h3 {
color: black;
text-align: center;
}

#story p {
  color: black;
  text-align: center;
}

#reviews {
  background-color: black;
}

#reviews h3, p {
  text-align: center;
  color: #fff;
}

.flavour-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}



footer {
  background-color: white;
  text-align: center;
}